<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ORDEV" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ORDb;Data Source=DESKTOP-PEVJ6KK"/>
    <add name="ORDEV2" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ORDbOld;Data Source=DESKTOP-PEVJ6KK"/>
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
