<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ORDEV" connectionString="workstation id=Test999.mssql.somee.com;packet size=4096;user id=Hirooo_SQLLogin_1;pwd=u9p5ud2fn9;data source=Test999.mssql.somee.com;persist security info=False;initial catalog=Test999"/>-->
    <add name="ORDEV" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ORDb;Data Source=DESKTOP-PEVJ6KK"/>
    <add name="ORDEV2" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ORDbOld;Data Source=DESKTOP-PEVJ6KK"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>